.restau__card, .fct__card {
  border-radius: 15px;
}

.restau__card, .fct__card, .explain__list--btn,
.commander--btn {
  box-shadow: 2px 2px 15px rgb(184, 186, 186);
}

.explain__list--btn:hover,
.commander--btn:hover {
  box-shadow: 2px 2px 30px rgb(51, 52, 52);
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

h2 {
  width: 200px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 26px;
  padding-left: 20px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  margin-left: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-bottom: 40px;
}
@media screen and (min-width: 960px) {
  h4 {
    width: 100%;
    max-width: none;
  }
}
@media screen and (min-width: 960px) {
  h4 {
    padding-left: 70px;
  }
}

h5 {
  font-weight: 600;
}

h6 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis " ...";
  align-self: center;
}

.explain__list--btn,
.commander--btn {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
  background: linear-gradient(178deg, #ff79da, #9356dc);
  line-height: 40px;
  color: white;
  border-radius: 20px;
  align-items: center;
  transition: 400ms;
}
.explain__list--btn:hover,
.commander--btn:hover {
  background: linear-gradient(178deg, #ff93e1, #a16be0);
}

.title {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  justify-content: flex-start;
}
.title a {
  line-height: 50px;
  width: 20%;
  text-align: center;
}
.title h1 {
  width: 60%;
}
.title__index {
  line-height: 50px;
  margin-bottom: 3px;
  box-shadow: 0px 0px 7px rgb(110, 111, 111);
}
@media screen and (min-width: 1400px) {
  .title__index {
    padding-left: 70px;
    text-align: left;
  }
}

.location {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  justify-content: center;
  margin-top: 3px;
  height: 40px;
  line-height: 40px;
  background: rgb(231, 229, 229);
}
.location i {
  font-size: 16px;
  line-height: 40px;
  width: 30px;
}
.location input {
  width: 120px;
  text-align: center;
  border: none;
  background: transparent;
  font-weight: 700;
}

.flexfooter {
  background-color: grey;
  height: auto;
  margin-right: auto;
  align-items: left;
  color: white;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
}
@media screen and (min-width: 960px) {
  .flexfooter {
    flex-direction: row;
    line-height: 100px;
  }
}
.flexfooter h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 16px;
  max-width: 450px;
  line-height: 70px;
  padding-left: 30px;
  text-align: left;
}
@media screen and (min-width: 960px) {
  .flexfooter h1 {
    width: 200px;
    max-width: 200px;
    margin: 0px;
  }
}
.flexfooter__heading {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
  padding-left: 30px;
  max-width: 450px;
  width: auto;
}
@media screen and (min-width: 960px) {
  .flexfooter__heading {
    flex-direction: row;
    max-width: none;
    align-items: center;
    line-height: 100px;
    width: 85%;
  }
}
.flexfooter__list {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  justify-content: flex-start;
  color: white;
  font-weight: 500;
}
@media screen and (min-width: 960px) {
  .flexfooter__list {
    width: 25%;
  }
}
.flexfooter__list i {
  margin-right: 20px;
  width: 15px;
  line-height: 30px;
}
@media screen and (min-width: 960px) {
  .flexfooter__list i {
    margin-right: 8px;
  }
}
.flexfooter__list p {
  line-height: 30px;
}

.explain {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 30px;
  background: linear-gradient(rgb(242, 242, 242), 90%, rgb(239, 238, 238));
}
.explain__list {
  width: 280px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}

.fct {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 960px) {
  .fct {
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 50px;
  }
}
.fct__card {
  display: flex;
  flex-flow: row;
  width: 270px;
  height: auto;
  justify-content: space-around;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  margin-bottom: 25px;
  background: rgb(242, 242, 242);
  line-height: 70px;
}
.fct__card:nth-of-type(3) {
  background: #e4d5f6;
}
.fct__card:nth-of-type(3) .fct__logo {
  color: #9356dc;
}
.fct__number {
  text-align: center;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  background: #9356dc;
  border-radius: 50%;
  margin-left: -10px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.fct__logo {
  width: 20px;
  margin-left: 15px;
  align-items: center;
}
.fct__text {
  margin-left: 15px;
  font-weight: 500;
}

.restau {
  background: rgb(242, 242, 242);
  padding-top: 40px;
  height: auto;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
}
.restau__grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 40px;
}
@media screen and (min-width: 960px) {
  .restau__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .restau__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.restau__card {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 400px;
  max-width: 450px;
  height: auto;
  margin-bottom: 20px;
  background: white;
}
.restau__card a {
  height: auto;
}
.restau__img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restau__new {
  width: 100px;
  line-height: 30px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
  text-align: center;
  font-weight: 500;
  background: #99e2d0;
  color: #278870;
}
.restau__text {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  justify-content: space-between;
  padding: 10px;
}
.restau__text i {
  font-size: 25px;
  font-weight: 200;
}
.restau__like {
  position: absolute;
  right: 15px;
  z-index: 1;
}
.restau__like--active {
  position: absolute;
  right: 15px;
  color: #9356dc;
}
.restau__like:focus {
  visibility: hidden;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  z-index: 1;
}

.menu {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background: rgb(242, 242, 242);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -50px;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
}
.menu__titre {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  justify-content: space-between;
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 30px;
  align-items: center;
  margin-right: 20px;
  margin-top: 35px;
}
.menu__titre h3 {
  font-size: 30px;
  font-weight: 500;
}
.menu__titre i {
  margin-right: 30px;
  font-weight: 100;
}
.menu__titre--underscore {
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}
.menu__card {
  display: flex;
  flex-flow: row;
  width: 95%;
  height: auto;
  justify-content: space-around;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  min-height: 70px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  position: relative;
  top: 20px;
  transition: 400ms;
}
.menu__card .fa-circle-check {
  transition: 600ms ease-in-out;
  transform: rotatez(720deg);
}
.menu__check {
  width: 0%;
  line-height: 70px;
  transition: 600ms ease-in-out;
  color: white;
  text-align: center;
  align-self: center;
  background: #99e2d0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__choice {
  align-self: center;
  min-width: 70%;
  white-space: nowrap;
}
.menu__choice p {
  font-size: 15px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis " ...";
  align-self: center;
}
.menu__price {
  align-self: flex-end;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 20%;
  text-align: right;
}
.menu__card:hover .menu__choice {
  width: 70%;
  transition: 600ms ease-in-out;
}
.menu__card:hover .menu__price {
  width: 15%;
  transition: 600ms ease-in-out;
}
.menu__card:hover .menu__check {
  width: 50px;
  transition: 600ms ease-in-out;
}
.menu__card:hover .fa-circle-check {
  transform: rotateZ(-720deg);
  transition: 600ms ease-in-out;
}
.menu__card:focus .menu__choice {
  width: 70%;
}
.menu__card:focus .menu__price {
  width: 15%;
}
.menu__card:focus .menu__check {
  width: 50px;
}
.menu__card:focus .menu__check .fa-circle-check {
  transform: none;
}
@keyframes fadein {
  from {
    opacity: 0;
    top: 30px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.menu .menu__card:nth-of-type(1) {
  animation: fadein 0.4s;
  animation-timing-function: ease-in;
  /*animation-delay: fadein calc(($i) / 5 * 1) + s;*/
  top: 0px;
}
.menu .menu__card:nth-of-type(2) {
  animation: fadein 0.8s;
  animation-timing-function: ease-in;
  /*animation-delay: fadein calc(($i) / 5 * 1) + s;*/
  top: 0px;
}
.menu .menu__card:nth-of-type(3) {
  animation: fadein 1.2s;
  animation-timing-function: ease-in;
  /*animation-delay: fadein calc(($i) / 5 * 1) + s;*/
  top: 0px;
}
.menu .menu__card:nth-of-type(4) {
  animation: fadein 1.6s;
  animation-timing-function: ease-in;
  /*animation-delay: fadein calc(($i) / 5 * 1) + s;*/
  top: 0px;
}

/* loading spinner*/
.loading {
  display: none;
}

/* @keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.loading {
  @include flex(column, 100%);
  position: absolute;
  z-index: 10;
  width: 100%;
  min-height: 1980px;
  background: $color-primaire;
  animation: fadeout 5s;
  @include flex(column, 100%);
  visibility: hidden;
  &__title {
    @include font-shrikhand;
    width: 60%;
    height: 30px;
    line-height: 30px;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-color: $color-tertiaire;
  }
}
*/

/*# sourceMappingURL=style.css.map */
