/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@media screen and (max-width: 767px) {
  body {
    display: flex;
    flex-flow: column;
    justify-content: start;
    background: white;
    font-family: "Roboto", sans-serif;
    font-family: "Shrikhand", cursive;
    margin: 0px;
  }

  header i {
    width: 20%;
    position: absolute;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .title {
    display: flex;
    flex-flow: row;
  }

  .title h1 {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
  }

  header img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
  }

  .menu {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: -70px;
    background: rgb(239, 238, 238);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .menu h3 {
    font-size: 24px;
    font-weight: 100;
    margin-left: 20px;
    padding-top: 50px;
    margin-bottom: 10px;
  }

  .titre_menu {
    font-family: "roboto";
    width: 35px;
    font-weight: 200;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #99e2d0;
  }

  .flex_menu {
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 15px rgb(212, 210, 210);
  }

  .commander {
    text-decoration: none;
    font-family: "roboto";
    width: 150px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: white;
    background: linear-gradient(170deg, #ff79da, #9356dc);
  }

  footer {
    display: flex;
    flex-flow: column;
    background: #3f3f3f;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
  }

  .flex-footer {
    display: flex;
    flex-flow: row;
  }

  .flex-i-footer {
    display: flex;
    flex-flow: column;
  }

  .text-footer {
    display: flex;
    flex-flow: column;
  }

  footer h1 {
    margin-bottom: 20px;
  }

  footer p {
    font-family: "roboto";
    margin-bottom: 10px;
    height: 20px;
  }

  footer i {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
}

/*# sourceMappingURL=style_menu.css.map */
