body {
  background: white;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}

h1 {
  @include font-shrikhand;
  text-align: center;
}
h3 {
  @include font-shrikhand(26px);
  padding-left: 20px;
}
h4 {
  @include h4;
  @include desktop(tablet) {
    padding-left: 70px;
  }
}
h5 {
  font-weight: 600;
}
