body {
  background: white;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  @include font-shrikhand;
  text-align: center;
}
h2 {
  font-size: 20px;
}
h3 {
  @include font-shrikhand(30px);
  padding-left: 10px;
  font-weight: 500;
}
h4 {
  font-weight: bold;
  font-size: 20px;
  @include center(95%);
  max-width: 450px;
  margin-bottom: 40px;
  @include desktop(tablet) {
    width: 100%;
    padding-left: 70px;
    max-width: none;
  }
}
h5 {
  font-weight: 600;
}
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  align-self: center;
  padding-left: 10px;
}
.menu__choice p {
  font-size: 15px;
  text-align: left;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis " ...";
  align-self: center;
  padding-left: 10px;
}
