@keyframes fadeout {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading {
  @include flex(column, 100%);
  position: absolute;
  z-index: 999;
  width: 100%;
  min-height: 1980px;
  background-color: $color-secondaire;
  animation: seconds 1.5s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;

  opacity: 1;

  &__title {
    @include font-shrikhand(14px);
    margin: auto;
    margin-top: 450px;
    color: $color-primaire;

    top: 22%;
    z-index: 10003;
  }

  @for $i from 1 to 4 {
    &__bar:nth-of-type(#{$i}) {
      height: 15px;

      margin-left: auto;
      margin-right: auto;

      &::after {
        z-index: 10002;
        content: "";
        position: absolute;
        top: 25%;
        left: 25%;
        margin: -5px 0 0 -5px;
        background-color: $color-tertiaire;

        width: 10px;
        height: 10px;
        animation: fadeout 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
      }
    }
  }
}

.explain {
  @include flex(column);
  align-items: center;
  height: auto;
  padding: 30px;
  background: linear-gradient(rgb(242, 242, 242), 90%, rgb(239, 238, 238));
  &__list {
    @include explain();
  }
  h2 {
    @include explain(200px, 700);
    font-size: 20px;
  }
}

.fct {
  @include flex(column);
  @include desktop(tablet) {
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 50px;
  }
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  &__card {
    @include flex(row, 270px);
    @include center(280px);
    justify-content: flex-start;
    margin-bottom: 25px;
    background: rgb(242, 242, 242);
    line-height: 70px;
    @extend %radius;
    @extend %shadow;
  }
  &__card:nth-of-type(3) {
    background: lighten($color: $color-primaire, $amount: 30%);
    .fct__logo {
      color: $color-primaire;
    }
  }

  &__number {
    text-align: center;
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background: $color-primaire;
    border-radius: 50%;
    margin-left: -10px;
    color: white;
    font-size: 14px;
    line-height: 20px;
  }
  &__logo {
    width: 20px;
    margin-left: 15px;
    align-items: center;
  }
  &__text {
    margin-left: 15px;
    font-weight: 500;
  }
}

.restau {
  background: rgb(242, 242, 242);
  padding-top: 40px;
  height: auto;
  @include flex(column, 100%);

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    @include desktop(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop(desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
    padding-bottom: 40px;
  }
  &__card {
    @include flex(column);
    @include center(80%);
    position: relative;
    width: 400px;
    max-width: 450px;
    height: auto;
    margin-bottom: 20px;
    background: white;
    @extend %radius;
    @extend %shadow;
    & a {
      height: auto;
    }
    &:hover {
      @extend %shadow-more;
    }
  }
  &__img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &__new {
    width: 100px;
    line-height: 30px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
    text-align: center;
    font-weight: 500;
    background: $color-tertiaire;
    color: darken($color: $color-tertiaire, $amount: 40%);
  }
  &__text {
    @include flex(row, 100%);
    justify-content: space-between;
    padding: 10px;
  }
}
