img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  z-index: 1;
}

.menu {
  @include flex(column, 100%);
  @include center(100%);
  height: auto;
  background: rgb(242, 242, 242);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -50px;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
  @include desktop(tablet) {
    @include center(75%);
  }

  &__titre {
    @include flex(row, 100%);
    justify-content: space-between;
    @include font-shrikhand();
    align-items: center;
    margin-right: 20px;
    margin-top: 35px;

    i {
      margin-right: 10px;
      cursor: pointer;
    }

    &--underscore {
      font-size: 16px;
      font-weight: 300;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 10px;
      padding-bottom: 5px;
      border-bottom: 3px solid $color-tertiaire;
      width: 40px;
    }
  }

  &__card {
    display: block;
    @include flex(row, 95%);
    @include center(95%);
    justify-content: space-between;
    min-height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 8px;
    position: relative;
    top: 20px;
    transition: all 800ms ease-in-out;
    @include desktop(tablet) {
      @include center(75%);
      & button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        z-index: 10;
        &:hover {
          .menu__choice {
            width: 69%;
          }
          .menu__price {
            width: 9%;
          }
          .menu__check {
            width: 20%;
          }
          .fa-circle-check {
            animation: rotation 1s;
            -moz-animation: rotation 1s;
          }
        }
        &button:focus {
          .menu__choice {
            width: 69%;
          }
          .menu__price {
            width: 9%;
          }
          .menu__check {
            width: 20%;
          }
          .fa-circle-check {
            animation: rotation 1s;
            -moz-animation: rotation 1s;
          }
        }
      }
    }
  }

  &__check {
    width: 0%;
    position: relative;
    line-height: 70px;
    transition: all 800ms ease-in-out;
    color: white;
    text-align: center;
    align-self: center;
    font-size: 20px;
    background: $color-tertiaire;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
  }

  &__choice {
    align-self: center;
    text-align: left;
    width: 77%;
    min-width: 55%;
    max-width: 77%;
    white-space: nowrap;
    transition: all 600ms ease-in-out;
  }
  &__price {
    width: 10%;
    align-self: flex-end;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 15px;
    padding-right: 5px;
    margin-left: 30px;
    text-align: right;
    transition: all 700ms ease-in-out;
  }
}
@for $i from 1 to 5 {
  .menu {
    &__card:nth-of-type(#{$i}) {
      animation: fadein calc(($i) / 5 * 2) + s;
      animation-timing-function: ease-in;
      top: 0px;
    }
  }
}
