%radius {
  border-radius: 15px;
}

%radius-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

%shadow {
  box-shadow: 2px 2px 15px rgb(184, 186, 186);
}
%shadow-more {
  box-shadow: 2px 2px 30px rgb(51, 52, 52);
}
